{{>adminNavbar}}

<br>
<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-5">
  
      <br>
      <div id="content">
        <ul class="list-group">
          <li class="list-group-item active text-center">Existing Categories<p class="card-text"></p> <p>something</p></li>
          
        </ul>
      </div>
      <br> 
        

      
      <br>
      <br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 ">
      <p class="text-center text-primary lead"> 
        
      </p>
      
    </div>
  </div>
</div>

<script src="../../js/admin-delete-products.js"></script>