{{>adminNavbar}}

<br>
<div class="container">

  
  
  <div class="row justify-content-center">
    <div class="col-md-5">
        <br>
        <div id="content">
        </div>
        <br> 
        <br>
        <br>
    </div>
  </div>
</div>

<script src="../../js/admin-delete-products.js"></script>